<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


      <link rel="stylesheet" type="text/css" href="../css/fonts.css">
      <link rel="stylesheet" type="text/css" href="../css/mail.css">



  </head>
  <body id="mimemail-body">
    <div id="mail-wrapper">
      <div id="logo"><img src="../images/mail-logo.png"></div>
      <div id="mail-inside-wrapper">
        <div id="config-photo"><img src="../images/config-images/jpg/model3_black_18aero.jpg"></div>

        <div id="title">Új megrendelés érkezett!</div>

        <div id="data-personal">
          <div class="data-row">
            <div class="data-row-left">Megrendelő neve:</div>
            <div class="data-row-right">[data:ncn38373652-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Címe:</div>
            <div class="data-row-right">[data:aca837365321-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">E-mail címe:</div>
            <div class="data-row-right">[data:e9384168394-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Telefonszáma:</div>
            <div class="data-row-right">[data:pn327894325-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Megjegyzés:</div>
            <div class="data-row-right note">[data:n5628279321-value]</div>
          </div>
        </div>  

        <div id="model-name">[data:model-value]</div>  


        <div id="data-vehicle">
          <div class="data-row">
            <div class="data-row-left">[data:facility-value]</div>
            <div class="data-row-right">[data:facility-price-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">[data:exterior-value]</div>
            <div class="data-row-right">[data:exterior-price-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">[data:rim-value]</div>
            <div class="data-row-right">[data:rim-price-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">[data:interior-value]</div>
            <div class="data-row-right">[data:interior-price-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">[data:autopilot-value]</div>
            <div class="data-row-right note">[data:autopilot-price-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">[data:winter-wheel-value]</div>
            <div class="data-row-right note">[data:winter-wheel-price-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">[data:extra-value]</div>
            <div class="data-row-right note">[data:extra-price-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">[data:seats-value]</div>
            <div class="data-row-right note">[data:seats-price-value]</div>
          </div>
          <div class="data-row sum">
            <div class="data-row-left">Végösszeg</div>
            <div class="data-row-right note">[data:seats-price-value]</div>
          </div>
        </div>  

        <div id="funding-title">Finanszírozás</div>
        <div id="data-funding">
          <div class="data-row">
            <div class="data-row-left">Finanszírozás igénybevételével történő vásárlás?</div>
            <div class="data-row-right">[data:funding-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Konstrukció:</div>
            <div class="data-row-right">[data:financial_construction-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Kezdő befizetés százalékban:</div>
            <div class="data-row-right">[data:inital_deposit-value] [data:inital_deposit_open_end-value] [data:inital_deposit_rental-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Futamidő:</div>
            <div class="data-row-right">[data:duration-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Devizanem:</div>
            <div class="data-row-right note">[data:currency-value]</div>
          </div>
          <div class="data-row">
            <div class="data-row-left">Maradványérték:</div>
            <div class="data-row-right note">[data:remain_24-value][data:remain_24_36-value][data:remain_36_48-value][data:remain_48-value]</div>
          </div>
        </div>  

      </div> <!-- inside wrapper -->
       
    </div>
  </body>
</html>
