body.accessories-list {
	background: url(../images/accessories.jpg) #fff no-repeat;
	color: #000;
	background-size: contain;
}

body.accessories-list #page-title {
	height: 15vw;
	padding: 15vw 0 0 0;
	text-align: center;
}

body.accessories-list #page-lead {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

body.accessories-list #page-title h1 {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-size: 4vw;
	font-family: Din;
	margin: 0;
}

#accessories {
	padding: 21px;
}

.view-accessories {
	clear: both;
}

.view-accessories .view-filters {
	display: flex;
}

.view-accessories .view-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.view-accessories .views-row {
	width: 30%;
	margin-bottom: 40px;
}

.view-accessories .views-row .views-field-field-model {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.view-accessories .views-row .views-field-title a,
.view-accessories .views-row .views-field-field-price {
	font-size: 24px;
	color: #000;
}


.view-accessories .views-row .views-field-field-image img {
	max-width: 100%;
}

.view-accessories .views-row .accessories-details {
	width: 100%;
	padding-top:200px;
	margin-top: -405px;
	height: 405px;
	box-sizing: border-box;
	position: relative;
	
}

.view-accessories .views-row .accessories-details:hover {
	background: rgba(255, 255, 255, 0.8);
}

.view-accessories .views-row .accessories-details .accessories-details-button {
	display: none;
}

.view-accessories .views-row .accessories-details:hover .accessories-details-button {
	display: block;
	border: 3px solid #cd0033;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	line-height: 60px;
	font-size: 18px;
	
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	box-sizing: border-box;

	height: 60px;
	width: 75%;
	margin: 0 auto;
}

.view-accessories .views-row .accessories-details:hover .accessories-details-button a {
	color: #cd0033;
	line-height: 60px;
	width: 100%;
	display: block;
}

.view-accessories .views-row .accessories-details:hover .accessories-details-button:hover {
	background-color: #cd0033;
}

.view-accessories .views-row .accessories-details:hover .accessories-details-button:hover a {
	color: #fff;
}

#user-accessories-filter .accessories-subcategory {
	display: flex;
	justify-content: flex-start;
	padding-left: 230px;
}

#user-accessories-filter h3 {
	width: 230px;
	position: absolute;
}

#user-accessories-filter h3.selected {
	color: #CD0033;
}

.accessories-subcategory .config-option:hover {
	border-color: #CD0033;
}

#reset-filter {
	float: right;
}

.config-button {
	height: 44px;
	line-height: 40px;
}

#reset-filter .config-button {
	background: #CD0033;
	color: #fff;
	margin-right: 0;
}

@media screen and (max-width: 800px) {

	.view-accessories .views-row .views-field-field-image img {
	    max-width: 100%;
	    height: auto;
	}

	.view-accessories .views-row .views-field-field-model {
    	font-size: 18px;
	}

	.view-accessories .views-row .views-field-title a, .view-accessories .views-row .views-field-field-price {
    	font-size: 18px;
	}

	body.accessories-list #page-lead {
		width: 100%;
		color: #000;
		margin-top: 60px;
	}

	.view-accessories .views-row .accessories-details:hover .accessories-details-button {
		width: 100%;
		font-size: 15px;
	}

	#user-accessories-filter {
		display: none;
	}

	.view-accessories .views-row {
        width: 100%;
    }
	
}



@media screen and (max-width: 800px) and (orientation: landscape) {

}

@media screen and (min-width: 650px) {
	body.accessories-list #page-title {
    	padding: 17vw 0 0 0;
    }

    body.accessories-list #page-lead {
		width: 100%;
		color: #000;
	}
	
}

@media screen and (min-width: 800px) {
	
	body.accessories-list #page-title {
		padding: 3vw 0 0 0;
		height: 3vw;
	}

	body.accessories-list #page-lead {
		display: block;
		font-family: Din;
		margin-bottom: 18vw;
		color: #fff !important;
	}

	body.accessories-list #page-lead h2 {
		font-weight: normal;
		font-size: 16px;

	}

}

@media screen and (min-width: 500px) {
	body.accessories-list #page-lead {
		width: 100%;
		color: #000;
		margin-top: 60px;
	}

	#user-accessories-filter {
		display: none;
	}
}

@media screen and (min-width: 930px) {
	body.accessories-list #page-title {
		padding: 5vw 0 0 0;
		height: 3vw;
	}

	body.accessories-list #page-lead {
		display: block;
		font-family: Din;
		margin-bottom: 18vw;
		color: #fff;
	}

	body.accessories-list #page-lead h2 {
		font-weight: normal;
		font-size: 20px;

	}
}

@media screen and (min-width: 1100px) {
	body.accessories-list #page-title {
		padding: 7vw 0 0 0;
		height: 5vw;
	}

	body.accessories-list #page-lead {
		display: block;
		font-family: Din;
		margin-bottom: 16vw;
		color: #fff;
	}
}

@media screen and (min-width: 1280px) {
	body.accessories-list #page-title {
		padding: 8vw 0 0 0;
		height: 8vw;
	}
}

@media screen and (min-width: 1366px) {
	body.accessories-list #page-title {
		padding: 11vw 0 0 0;
	}
}


@media screen and (min-width: 1440px) {
	body.accessories-list #page-title {
	    height: 6vw;
	    padding: 12vw 0 0 0;
	    text-align: center;
	}

	body.accessories-list #page-lead {
		margin-bottom: 16vw;
	}

	body.accessories-list #page-lead h2 {
		font-weight: normal;
		font-size: 25px;

	}
}

@media screen and (min-width: 1850px) {
	body.accessories-list #page-title {
	    height: 8vw;
	    padding: 9vw 0 0 0;
	    text-align: center;
	}

	body.accessories-list #page-lead {
		margin-bottom: 16vw;
	}

	body.accessories-list #page-lead h2 {
		font-weight: normal;
		font-size: 25px;

	}
}