.view-articles {
	padding: 60px 40px 0;
	clear: both;
	font-family: Din;
}

.view-articles .views-row {
	float: left;
	width: 49.5%;
	margin-bottom: 40px;
}

.view-articles .views-row .views-field-created {
	font-size: 16px;
	color: #808080;
}

.view-articles .views-row .views-field-title a {
	font-size: 30px;
	font-weight: 900;
	color: #cd0033;
}

.view-articles .views-row .views-field-field-lead {
	font-size: 20px;
	color: #000;
	height: 90px;
	overflow: hidden;
}

.view-articles .view-footer {
	text-align: center;

}

.view-articles .view-footer a {
	font-size: 16px;
	color: #808080;
}