body.articles,
body.tesla-article {
	background: #fff;
}

body.articles #mobile-menu {
	background: url(../images/hamburger-black.png) no-repeat 50% 50%;
}

body.articles #content-wrapper {
	margin-top: 30px;
	clear: both;
}

body.articles #page-title {
	color: #808080;
	
	font-family: 'Din';
	margin: 0 17px;
}

body.articles #page-title h1 {
	font-size: 30px;
	font-weight: 500;
}

body.articles #line {
	width: 100%;
	margin: 0 auto;
	border-top: 1px #ccc solid;
	margin-bottom: 30px;
}

body.articles #top ol li a,
body.articles #top ol li a:visited {
	color: #000;
}

.view-articles {
	padding: 40px 40px 0;
	clear: both;
	font-family: 'Din';
	overflow: hidden;
}

.view-articles .view-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.view-articles .views-row {
	width: 48%;
	margin-bottom: 40px;
}

.view-articles .views-row .views-field-created,
body.tesla-article .article-date  {
	font-size: 16px;
	color: #808080;
	line-height: 2em;
}

body.tesla-article .article-title h1,
.view-articles .views-row .views-field-title a {
	font-size: 30px;
	font-weight: 900;
	color: #cd0033;
	text-transform: uppercase;
}

.view-articles .views-row .views-field-field-lead h2 {
	font-size: 20px;
	color: #000;
	height: 90px;
	overflow: hidden;
	font-weight: normal;
}

.view-articles .views-row .views-field-field-main-image img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.view-articles .view-footer {
	clear: both;
	text-align: center;

}

.view-articles .view-footer a {
	font-size: 16px;
	color: #808080;
}

.view-articles ul.pager {
	clear: both;
	color: #808080;
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

.view-articles ul.pager li {
	width: 70px;
	float: left;
	list-style: none;
}

.view-articles ul.pager li a,
.view-articles ul.pager li a:visited {
	color: #cd0033;
}



body.tesla-article #article-column-left {
	width: 60%;
	float: left;
}

body.tesla-article #article-column-right {
	width: 39%;
	float: left;
}


body.tesla-article #content-wrapper {
	padding: 40px;
}

body.tesla-article .article-title h1 {
	width: 100%;
	padding: 0;
	margin: 0;
}

body.tesla-article .article-lead h2 {
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	margin: 30px 0;
}


body.tesla-article .article-body {
	color: #000;
	line-height: 30px;
}

body.tesla-article .article-body a {
	color: #cd0033;
}

body.tesla-article .article-body a:hover {
	color: #cd0033;
	text-decoration: underline;	
}

body.tesla-article .article-body img {
	max-width: 100%;
	height: auto !important;
}

body.tesla-article .article-main-image img {
	max-width: 100%;
	height: auto;
}

body.tesla-article .view-articles {
	padding: 0 0 0 40px;
}

body.tesla-article .view-articles .views-row {
	margin: 0;
	width: 100%;
	float: none;
	margin-bottom: 40px;
}

body.tesla-article blockquote::before,
body.tesla-article blockquote::after {
	content: "";
	width: 100%;
	height: 54px;
	display: block;
	margin-left: -20px;
	background-image: url(../images/quotemark.png);
	margin-bottom: 4px;
	background-repeat: no-repeat;
}

body.tesla-article blockquote::after {
	background-position: right bottom;
}

@media screen and (max-width: 800px) {
	.view-articles .views-row {
        margin-right: 0;
    }
    .view-articles .views-row {
        width: 100%;
    }

    body.tesla-article #article-column-left,
    body.tesla-article #article-column-right {
    	width: 100%;
    	float: none;
    }

    body.tesla-article .view-articles {
    	padding: 0;
    }

    body.tesla-article .view-articles .views-row .views-field-field-main-image img {
    	width: 100%;
    	max-width: 100%;

    }

}

