body.po-tesla-list {
	background-color: #fff;
	color: #000;
	background-size: contain;
}

body.po-tesla-list ol#menu li a {
	color: #000;
}

body.po-tesla-list #mobile-menu {
    background: url(../images/hamburger-black.png) no-repeat 50% 50%;
}

body.po-tesla-list #page-title {
	height: 5vw;
	padding: 5vw 0 0 0;
	text-align: center;
}

body.po-tesla-list #page-lead {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

body.po-tesla-list #page-title h1 {
	width: 100%;
	color: #000;
	text-transform: uppercase;
	font-size: 4vw;
	font-family: Din;
	margin: 0;
}

#po-tesla {
	padding: 21px;
}

.view-po-tesla .view-header {
	font-size: 24px;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.view-po-tesla .form-item-term-node-tid-depth {
	border-radius:36px;
	display:inline-block;
	overflow:hidden;
	background:#fff;
	border:4px solid var(--red-text);
	padding-left:20px;
	width: 100%;
	text-align: center;
}

.view-po-tesla select#edit-term-node-tid-depth {
	width: 340px;
	height: 40px;
	border: 0px;
	outline: none;
	text-transform: uppercase;
	background: #fff;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 15px;
}

.view-po-tesla .view-filters {
	display: flex;
	justify-content: center;
}

.view-po-tesla .view-content {
	display: flex;
	flex-wrap: wrap;
}

.view-po-tesla .views-row {
	width: 33%;
	font-family: Din;
	margin-bottom: 40px;
}

.view-po-tesla .views-row .views-field {
	text-align: center;
}

.view-po-tesla .views-row .views-field-field-image {
	min-height: 254px;
}

.view-po-tesla .views-row .views-field-field-model-one,
.view-po-tesla .views-row .views-field-name {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

.view-po-tesla .views-row .views-field-title a,
.view-po-tesla .views-row .views-field-field-price {
	font-size: 24px;
	color: #000;
}

.view-po-tesla .views-row .views-field-field-price {
	font-weight: bold;
	color: #cd0033;
}


.view-po-tesla .views-row .views-field-field-image img {
	max-width: 100%;
	height: auto;
}

.view-po-tesla .views-row .po-tesla-details {
	width: 100%;
	padding-top:200px;
	margin-top: -405px;
	height: 405px;
	box-sizing: border-box;
	position: relative;
	
}

.view-po-tesla .views-row .po-tesla-details:hover {
	background: rgba(255, 255, 255, 0.8);
}

.view-po-tesla .views-row .po-tesla-details .po-tesla-details-button {
	display: none;
}

.view-po-tesla .views-row .po-tesla-details:hover .po-tesla-details-button {
	display: block;
	border: 3px solid #cd0033;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	line-height: 60px;
	font-size: 18px;
	
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	box-sizing: border-box;

	height: 60px;
	width: 75%;
	margin: 0 auto;
}

.view-po-tesla .views-row .po-tesla-details:hover .po-tesla-details-button a {
	color: #cd0033;
	line-height: 60px;
	width: 100%;
	display: block;
}

.view-po-tesla .views-row .po-tesla-details:hover .po-tesla-details-button:hover {
	background-color: #cd0033;
}

.view-po-tesla .views-row .po-tesla-details:hover .po-tesla-details-button:hover a {
	color: #fff;
}

.view-po-tesla .views-submit-button input {
	display: none;
}

@media screen and (max-width: 800px) {


	.view-po-tesla .view-content {
		display: block;
	}

	.view-po-tesla .view-content .views-row {
		width: 100%;
	}

	.view-po-tesla select#edit-term-node-tid-depth {
		width: 270px;
		margin: 0 auto;
	}

	.view-po-tesla .views-row .views-field-field-image img {
	    max-width: 100%;
	    height: auto;
	}

	.view-po-tesla .views-row .views-field-field-model-one {
    	font-size: 18px;
	}

	.view-po-tesla .views-row .views-field-title a, .view-po-tesla .views-row .views-field-field-price {
    	font-size: 18px;
	}

	body.po-tesla-list #page-lead {
		width: 100%;
		color: #000;
	}

	.view-po-tesla .views-row .po-tesla-details:hover .po-tesla-details-button {
		width: 100%;
		font-size: 15px;
	}
	
}



@media screen and (max-width: 800px) and (orientation: landscape) {

}

@media screen and (min-width: 650px) {
	body.po-tesla-list #page-title {

    }

    body.po-tesla-list #page-lead {
		width: 100%;
		color: #000;
	}
	
}

@media screen and (min-width: 800px) {
	
	body.po-tesla-list #page-title {

	}

	body.po-tesla-list #page-lead {
		display: block;
		font-family: Din;
		margin-bottom: 18vw;
		color: #fff !important;
	}

	body.po-tesla-list #page-lead h2 {
		font-weight: normal;
		font-size: 16px;

	}

}

@media screen and (min-width: 500px) {
	body.po-tesla-list #page-lead {
		width: 100%;
		color: #000;
	}
}

@media screen and (min-width: 930px) {
	body.po-tesla-list #page-title {

	}

	body.po-tesla-list #page-lead {
		display: block;
		font-family: Din;
		margin-bottom: 18vw;
		color: #fff;
	}

	body.po-tesla-list #page-lead h2 {
		font-weight: normal;
		font-size: 20px;

	}
}

@media screen and (min-width: 1100px) {
	body.po-tesla-list #page-title {

	}

	body.po-tesla-list #page-lead {
		display: block;
		font-family: Din;
		margin-bottom: 16vw;
		color: #fff;
	}
}

@media screen and (min-width: 1280px) {
	body.po-tesla-list #page-title {

	}
}

@media screen and (min-width: 1366px) {
	body.po-tesla-list #page-title {

	}
}


@media screen and (min-width: 1440px) {
	body.po-tesla-list #page-title {

	    text-align: center;
	}

	body.po-tesla-list #page-lead {
		margin-bottom: 16vw;
	}

	body.po-tesla-list #page-lead h2 {
		font-weight: normal;
		font-size: 25px;

	}
}

@media screen and (min-width: 1850px) {
	body.po-tesla-list #page-title {
	    text-align: center;
	}

	body.po-tesla-list #page-lead {
		margin-bottom: 16vw;
	}

	body.po-tesla-list #page-lead h2 {
		font-weight: normal;
		font-size: 25px;

	}
}