body, html {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background: #ccc;
    background-repeat:no-repeat;
    background-size: 100% auto;
    background-color: #000;
    font-family: Montserrat;
}

body.model-s {
    background-image: url(../images/tesla-model-s.jpg);
}

body.model-x {
    background-image: url(../images/tesla-model-x.jpg);
}

body.model-y {
    background-image: url(../images/tesla-model-y.jpg);
}

body.roadster {
    background-image: url(../images/tesla-model-roadster.jpg);
}

body.model-3 #video-bg,
body.front #video-bg {
    float: left;
    z-index: -1;
    position: absolute;
    top: -80px;
}

body.model-3 #video-bg video,
body.front #video-bg video,
#tesla-yt-front-video {
    width: 100%;
    height: 880px !important;
    object-fit: cover;
}

body::before {
    display: none !important;
}

body.front {
    background: #fff;
}

#front-jump-down a {
    width: 24px;
    height: 32px;
    margin: auto;
    position: absolute;
    z-index: 10;
    text-align: center;
    top:85vh;
    left: 50%;
}

h1 {
    width: 200px;
    margin: 0;
    margin-left: 41px;
}

ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


#top {
    width: 100%;
    height: 30px;
    padding-top: 20px;
}

#top header{
    width: 270px;
    float: left;
}

#top nav {
    text-align: center;
    float: left;
    width: 60%;
}

a#logo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}

a#logo img {
    max-width: 100%;
}

/* main menu */

ol#menu {
    align-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

ol#menu li {
    list-style: none;
    text-align: center;
    line-height: 30px;
}

ol#menu li a,
ol#menu li a:hover,
ol#menu li a:visited {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
}

#mobile-menu {
    display: block;
    background: url(../images/hamburger.png) no-repeat 50% 50%;
    width: 22px;
    height: 30px;
    cursor: pointer;
    margin-right: 56px;
    float: right;
}

#mobile-menu-block #submenu {
    display: none;
}

#mobile-menu-block ol#menu > li:nth-child(1)::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 27px;
    background: url(../images/arrow-down.svg);
    background-size: 40px;
    margin-left: -39px;
}

#first-row-wrapper {
    width: 100%;
    height: 583px;
}

#spacer {
    height: 500px;
}

/* */
#first-row {
    width: 80%;
    margin: 0 auto;
}

.first-row-data {
    float: left;
    width: 33%;
}

#first-row #data-1 .data {
    width: 250px;
    width: 22vw;
    margin: 0 auto;
}

#first-row #data-2 .data {
    width: 210px;
    width: 21vw;
    margin: 0 auto;
}

#first-row #data-1 .data::before,
#first-row #data-2 .data::before {
    content: "";
    display: block;
    background-image: url(../images/accelerating.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 57px;
    height: 58px;
    float: left;
}

#first-row #data-2 .data::before {
    background-image: url(../images/plug.png);
    height: 55px;
}

.first-row-data .large-font {
    font-size: 32px;
    font-weight: bold;
}

.first-row-data .data-text {
    padding-left: 18px;
    float: left;
}

/*
*/

.red-button {
    width: 23vw;
    height: 56px;
    box-shadow: 0 34px 30px 0px rgba(0,0,0,0.17);
    background: #CD0033;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.config-block.config-block-with-button {
    clear: both;
    margin-top: 40px;
    padding-bottom: 64px;
    margin-bottom: 0;
}

.red-button a {
    color: #fff;
    line-height: 56px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    height: 56px;
    display: block;
    letter-spacing: 0;
}

.config-block .config-note {
    text-transform: none;
}

/* */
h2.row-title {
    color: #CD0033;
    margin-top:0;
    padding-top: 0;
}

h3.row-title {
    color: var(--black-text);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    font-family: Din;
}

.technical-details strong {
    color: #000;
    font-size: 20px;
}

.technical-details .red-button.preorder {
    margin: 35px auto 40px;
}

.technical-details .send-order {
    color: #000;
}

.technical-details .send-order .form-actions {
    text-align: center;
    margin-bottom: 40px;
}

.technical-details .send-order .form-actions .form-submit {
    float: none;
}


/* */
#second-row-wrapper {
    background: url(../images/tech-bg-model-s.png) no-repeat #fff;
    background-position:550px 0;
    width: 100%;
    box-sizing: border-box;
}

body.model-3 #second-row-wrapper {
    background-image: url(../images/tech-bg-model-3.jpg);
}

body.model-x #second-row-wrapper {
    background-image: url(../images/tech-bg-model-x.png);
}

body.model-y #second-row-wrapper {
    background-image: url(../images/tech-bg-model-y.jpg);
}

body.roadster #second-row-wrapper {
    background-image: url(../images/tech-bg-roadster.jpg);
}

#second-row-wrapper ul li {
    color: #000;
    line-height: 32px;
}

#second-row-left {
    width: 550px;
    padding: 47px 39px 10px;
    box-sizing: border-box;
    background: #fff;
}

#second-half-row-wrapper {
    background: url(../images/tech-bg-model-s.png) no-repeat #fff;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body.model-3 #second-half-row-wrapper {
    background-image: url(../images/model3-more-details.jpg);
    background-size: contain;
}

body.model-s #second-half-row-wrapper {
    background-image: url(../images/models-more-details.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

body.model-x #second-half-row-wrapper {
    background-image: url(../images/modelx-more-details.jpg);
    background-size: contain;
    background-position-x: -250px;
}

#second-half-row-wrapper ul li {
    color: #000;
    line-height: 32px;
}

#second-half-row-right {
    width: 550px;
    padding: 47px 39px 10px;
    box-sizing: border-box;
    background: #fff;
    float: right;
}

#third-row-wrapper {
    background: #fff;
}

#third-row-wrapper #third-row-left #third-row-left-block {
    float: left;
}

#third-row-left {
    background: url(../images/configurator-bg-model-s.png) no-repeat #fff;
    background-position: -420px 60%;
    background-size: 80%;
    width: 100%;
    float: left;
    position: relative;
    overflow: visible;
    height: auto;
    padding: 47px 0 0 39px;
}

body.model-3 #third-row-left {
    background: url(../images/configurator-bg-model-3.jpg) no-repeat #fff;
    background-size: 50%;
    background-position: -70px 50%;
}

body.model-x #third-row-left {
    background: url(../images/configurator-bg-model-x.jpg) no-repeat #fff;
    background-size: 50%;
    background-position: -70px 50%;
}

body.model-y #third-row-left {
    background: url(../images/configurator-bg-model-y.png) no-repeat #fff;
    background-size: 65%;
    background-position: -240px 50%;
}

#third-row-left {
    text-transform: uppercase;
    color: #000;
    box-sizing: border-box;
}

#third-row-left .config-calc-row {
    font-family: Din;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 60px;
}

#third-row-left .config-calc-label {
    width: 250px;
    float: left;
    padding-top: 8px;
}

#third-row-left .config-calc-data {
    width: 150px;
    font-size: 46px;
    font-weight: 800;
    text-transform: none;
    text-align: right;
    width: 450px;
}

#third-row-left .config-calc-desc {
    font-size: 25px;
    color: #CD0033;
    text-transform: none;
    margin-top: -10px;
    clear: both;
}

#third-row-right {
    width: 58%;
    float: right;
    background: #fff;
    box-sizing: border-box;
    padding: 0px 45px 45px 0;
}

#index-third-half-row #spacer,
#index-third-half-second-row #spacer,
#index-third-half-pre-row #spacer {
    padding: 8vw 5vw;
    text-transform: uppercase;
    font-size: 7vmin !important;
    font-family: Din;
    letter-spacing: 8px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    height: 510px;
}

#spacer.mobile {
    display: none;
}

#index-third-half-second-row #spacer,
#index-third-half-pre-row #spacer {
    color: #fff;
}

.config-block {
    color: #000;
    margin-bottom: 40px;
    overflow: hidden;
}

.config-block .config-block-desc {
    color: #CD0033;
    height: 20px;
}

.config-block-top {
    font-size: 24px;
    font-weight: bold;
    clear: both;
}

.config-title {
    float: left;
}

.config-price {
    float: right;
}

.config-block-desc {
    clear: both;
    font-size: 16px;
    line-height: 30px;
}

.config-buttons, .config-berries {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    min-height: 68px;
    align-items: center;
}

.config-button {
    width: 290px;
    height: 56px;
    border: 3px solid #ccc;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

.config-button.selected {
    border-color: #CD0033;
}

.config-button.optional {
    display: none;
}

.config-block#seat-block .config-button {
    width: 56px;
}

.config-berry {
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    height: 56px;
    background-size: contain;
    margin-right: 3vw;
    cursor: pointer;
}

.config-berry img {
    max-width: 100%;
}

.config-berry.selected {
    border: 3px solid #CD0033;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    content: "";
    width: 46px;
    height: 46px;
    display: block;
    padding: 4px 4px;
    margin-top: 0px;
}

.config-note {
    color: #CD0033;
    font-weight: 600;
    line-height: 2em;
}

.config-sum-price {
    padding-top: 43px;
    border-top: 1px solid #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.config-sum-price .config-price {
    color: #CD0033;
    font-size: 48px;
}

.red-button-wide {
    width: 310px;
}

.red-button-wide a {
    font-size: 17px;
}

footer {
    background: #fff;
    color: #000;
    width: 100%;
    clear: both;
    padding: 0 40px;
    overflow: hidden;
    box-sizing: border-box;
}

#footer-inner {
    border-top: 1px solid #000;
    padding: 67px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-inner ol#menu li a {
    color: #000;
}

/* */

#index-first-row {
    background: url(../images/model-3.jpg);
    background-size: cover;
    background-position: center -30px;
    margin-top: -50px;
} 

#index-second-row {
    background: url(../images/model-s.jpg);
    background-size: cover;
} 

#index-third-row {
    background: url(../images/model-x.jpg);
    background-size: cover;
}

#index-third-half-row {
    background: url(../images/index-energy.jpg);
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

#index-third-half-second-row {
    background: url(../images/index-family.jpg);
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

#index-third-half-pre-row {
    background: url(../images/allamitamogatas_slide.jpg);
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

#index-third-half-second-row #data-1,
#index-third-half-second-row #data-2,
#index-third-half-pre-row #data-1,
#index-third-half-pre-row #data-2,
#index-third-half-row #data-1,
#index-third-half-row #data-2 {
    height: 0px;
}

/* */
.index-row {
    width: 80%;
    margin: 0 auto;
}

.index-row-data {
    float: left;
    width: 33%;
}

.index-row #data-1 .data {
    width: 250px;
    width: 22vw;
    margin: 0 auto;
}

.index-row #data-2 .data {
    width: 210px;
    width: 21vw;
    margin: 0 auto;
}

.index-row #data-1 .data::before,
.index-row #data-2 .data::before {
    content: "";
    display: block;
    background-image: url(../images/accelerating.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 57px;
    height: 58px;
    float: left;
}

#index-third-half-row .index-row #data-1 .data::before,
#index-third-half-row .index-row #data-2 .data::before,
#index-third-half-second-row .index-row #data-1 .data::before,
#index-third-half-second-row .index-row #data-2 .data::before,
#index-third-half-pre-row .index-row #data-1 .data::before,
#index-third-half-pre-row .index-row #data-2 .data::before

 {
    background: none;
}

.index-row #data-2 .data::before {
    background-image: url(../images/plug.png);
    height: 57px;
}

.index-row-data .large-font {
    font-size: 32px;
    font-weight: bold;
}

.index-row-data .data-text {
    padding-left: 16px;
    float: left;
}

#index-fourth-row {
    color: #000;
}

#index-fourth-row .index-col-left,
#index-fourth-row .index-col-right {
    background-image: url(../images/roadster.png);
    background-repeat:  no-repeat;
    background-size: 100%;
    background-position: center 10%;
    padding-top: 45%;
}

#index-fourth-row .index-col-right {
    background-image: url(../images/modelY.png);
}

#index-fourth-row .col-extra {
    min-height: 300px;
}

#index-fourth-row .col-data {
    color: #999;
    overflow: hidden;
}

#index-fourth-row .col-data #data-1 .data::before {
    background-image: url(../images/accelerating-grey.png);
}

#index-fourth-row .index-col-left .col-data #data-2 .data::before {
    background-image: url(../images/speed-grey.png);
}

#index-fourth-row .index-col-right .col-data #data-2 .data::before {
    background-image: url(../images/plug-grey.png);
}

#index-fourth-row .year-model {
    text-align: center;
}

#index-fourth-row .name-model {
    text-transform: uppercase;
    height: 150px;
    margin-top: -140px;
}

#index-fourth-row .year {
    font-size: 150px;
    font-weight: 900;
    font-family: Din;
    color: #CD0033
}

#index-fourth-row .year img {
    max-width: 100%;
}

#index-fourth-row .name {
    font-size: 30px;
    font-family: Din;
}

#index-fourth-row .model {
    font-size: 48px;
    font-family: Din;
    font-weight: bold;
}

#index-fourth-row .extra {
    text-align: center;
    font-size: 24px;
    margin: 40px 0;
}

#index-fifth-row.index-row-wrapper {
    padding-top: 70px;
    height: auto;
}

#index-fifth-row .index-row {
    width: 100%;
}

#index-sixth-row .index-row {
    width: 100%;
    color: #000;
    display: flex;
    align-content: space-around;
    padding-top:72px;
}

#index-sixth-row .index-row .col-block {
    width: 30%;
}

#index-sixth-row .index-row .col-block.col-1 {
    text-transform: uppercase;
}

.mah {
    color: #CD0033;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#index-sixth-row .index-row .col-block .mah {
    
    
    margin-bottom: 28px;
}

#index-sixth-row .index-row .col-block .contact-title {
    font-size: 48px;
    font-weight: 900;
    color: #000;
}

#index-sixth-row .index-row .col-block.col-2 {
    line-height: 30px;
}

#index-sixth-row .index-row .contact-first-part {
    margin-bottom: 30px;
}

#index-sixth-row .index-row .col-block.col-3 {
    font-size: 24px;
}

#index-sixth-row .index-row .col-block.col-3 .open-hours-label {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
}

/* contact page
*/

body.contact {
    background-image: url(../images/contact.jpg);
    background-position: 100% 0;
    background-size: 140%;
}

body.contact .contact-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    font-weight: 800;
    font-family: Din;
    letter-spacing: 10px;
}

body.contact #first-row-wrapper {
    height:100vh;
}

body.contact #second-row-wrapper {
    background: #fff;
    padding: 47px 39px;
    overflow: hidden;
}

body.contact #second-row-left {
    color: #000;
    float: left;
    padding: 0;
}

body.contact #second-row-right {
    color: #000;
    padding-left: 40px;
    float: left;
}

body.contact #second-row-right h2 {
    margin-top: 0;
}

body.contact .contact-row-1 .mah {
    font-family: Din;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 27px 0;
}

body.contact .contact-row-2 {
    font-size: 18px;
    line-height: 25px;
}

body.contact .contact-row-2 .open-hours-label {
    font-weight: 800;
}

body.contact .contact-row-2 .contact-part {
    margin-bottom: 20px;
}

body.contact #contact-form label {
  display: none;
}

body.inner .send-order {
    padding: 0 40px;
}

body.inner .send-order.invisible {
    display: none;
}

body.inner .send-order .webform-component--description {
    font-weight: bold;
}

body.inner .send-order label {
    margin-left: 20px;
    line-height: 26px;
}

body.contact #contact-form input,
body.contact #contact-form textarea,
body.inner .send-order input,
body.inner .send-order textarea {
    background-color: #fff;
    border-color: #bbb;
    border: 1px solid #ccc;
    transition: background-color .2s linear;
    height: 55px;
    font-size: 18px;
    padding: 20px 32px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
}

body.contact #contact-form textarea,
body.inner .send-order textarea {
    height: 330px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    -khtml-border-radius: 32px;
    border-radius: 32px;
}

body.inner .send-order .p93854759563 {
    width: 100%;
}

body.contact #contact-form .contact-name,
body.contact #contact-form .ce87325643,
body.contact #contact-form .cp876453235 {
    width: 100%;
    float: left;
}

body.inner .send-order .form-actions {
    height: 135px;
}

body.inner .config-block.block-send-order {
    margin-bottom: 0;
}

body.contact #contact-form .webform-submit,
body.inner .send-order .webform-submit {
    width: 23vw;
    height: 56px;
    box-shadow: 0 34px 57px 0px rgba(0,0,0,0.17);
    background: #CD0033;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    float: right;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

body.inner .send-order .hidden,
body.inner .send-order label.element-invisible,
body.inner .order-remain {
    display: none;
}

.send-order .form-item input[type="checkbox"],
.send-order .form-item input[type="radio"] {
    width: auto;
    height: auto;
    transform:scale(2, 2);
    margin: 20px 0 20px 25px;
}

.send-order .form-item select {
    margin: 20px 0 20px 25px;
}

.send-order .webform-component--funding,
.send-order .webform-component--inital-deposit,
.send-order .webform-component--duration,
.send-order .webform-component--currency,
.send-order .webform-component--financial-construction {
    margin: 20px 0;
}

.send-order select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.send-order select::-ms-expand {
    display: none;
}

.send-order select:hover {
    border-color: #888;
}

.send-order select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

.send-order select option {
    font-weight:normal;
}


/* services page
*/

body.services {
    background-color: #fff;
}

body.services .services-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 120px 0;
    font-weight: 800;
    font-family: Din;
    letter-spacing: 10px;
}

body.services .services-description {
    font-size: 24px;
    text-align: center;
    padding: 100px 0;
    width: 85%;
    margin: 0 auto;
    line-height: 30px;
}

body.services #first-row-wrapper {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ),url(../images/services.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    margin-top: -50px;
    padding-top: 50px;
}

body.services #first-row-wrapper,
body.services #top,
body.contact #first-row-wrapper,
body.contact #top,
body.faq #first-row-wrapper,
body.faq #top {
    background-color: rgba(0,0,0,0.4);
}

body.services #second-row-wrapper {
    color: #000;
    clear: both;
    background-image: url(../images/financing.png);
    background-position: center bottom;
    height: 700px;
    box-sizing: border-box;
    width: 100%;
}

body.services #second-row-wrapper #second-row {
    width: 90%;
    margin: 0 auto;
}

body.services #second-row-wrapper .row-title {
    font-family: Din;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 20px;
}

body.services #second-row-wrapper #second-row-left {
    background: none;
    float: left;
    width: 40%;
}

body.services #second-row-wrapper #second-row-right {
    padding: 50px 0;
    line-height: 30px;
    float: left;
    width: 58%;
}

body.services #third-row-wrapper {
    color: #000;
}

body.services #third-row-wrapper #third-row {
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
}

body.services #third-row-wrapper .third-row-col {
    width: 30%;
}

body.services #third-row-wrapper #third-row .col-title {
    font-size: 24px;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 37px;
    min-height: 80px;
}

body.services #third-row-wrapper #third-row .col-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #CD0033;
    margin-top: 17px;
}

body.services #third-row-wrapper .col-row {
    margin-bottom: 20px;
}

body.services #third-row-wrapper .col-row-label {
    display: block;
    width: 150px;
    font-size: 14px;
}

body.services #third-row-wrapper .col-row-content {
    display: block;
    font-size: 18px;
}

body.services #fourth-row-wrapper {
    background-image: url(../images/services-contact-block.jpg);
    height: 670px;
    background-position: center 70%;
}

body.services #fourth-row-wrapper #fourth-row-title {
    font-size: 48px;
    width: 1000px;
    margin: 0 auto;
    font-family: Din;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 200px 0 70px;
}

body.services #fifth-row-wrapper {
    padding: 50px 41px;
    color: #000;
    line-height: 2em;
    font-size: 18px;
}

body.services #fifth-row-wrapper #fifth-row-left,
body.services #fifth-row-wrapper #fifth-row-right {
    float: left;
}

body.services #fifth-row-wrapper #fifth-row-left {
    width:40%;
}

body.services #fifth-row-wrapper #fifth-row-right {
    width: 58%;
    
}


body.services #fifth-row-wrapper h2.row-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

body.services #fifth-row-wrapper h3.row-title {
    margin-top: 20px;
    font-size: 42px;
}

body.services #fifth-row-wrapper #fifth-row-center {
    border-top: 2px solid #ddd;
}

body.services #fifth-row-wrapper #fifth-row-center-col1,
body.services #fifth-row-wrapper #fifth-row-center-col2 {
    box-sizing: border-box;
    clear:both;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ddd;
}

body.services #fifth-row-wrapper #fifth-row-center-col3 {
    border-top: 2px solid #ddd;
}

body.services #fifth-row-wrapper #fifth-row-center-col3 p.desc{
    margin: 0;
    padding: 30px 0 0 0;
    border-top: 2px solid #ddd;
}

body.services #fifth-row-wrapper #fifth-row-center-col1 .ins {
    width: 30%;
}

body.services #fifth-row-wrapper #fifth-row-center-col2 .ins {
    width: 50%;
}

body.services #fifth-row-wrapper #fifth-row-center-col3 .ins {
    width: 50%;
    float: left;
}

body.services #fifth-row-wrapper .fifth-row-center-col h4 {
    font-size: 24px;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 37px;
    min-height: 80px;
}

body.services #fifth-row-wrapper .fifth-row-center-col h4::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #CD0033;
    margin-top: 17px;
}

/* faq page */

body.faq {
    background-color: #fff;
}

body.faq.brand-story #first-row-wrapper {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url(../images/brand-story-bg.jpg);
    background-position: center 0;
    background-size: cover;
    background-position: center 0;
    background-color: rgba(0,0,0,0.4);
    margin-top: -50px;
    padding-top: 50px;
}

body.faq #first-row-wrapper,
body.brand-story #first-row-wrapper {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url(../images/faq-bg.jpg);
    background-position: center 0;
    background-size: cover;
    background-position: center 0;
    background-color: rgba(0,0,0,0.4);
    margin-top: -50px;
    padding-top: 50px;
}

body.brand-story #first-row-wrapper {
     background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url(../images/brand-story-bg.jpg);

    background-position: center 0;
    background-size: cover;
    background-position: center 0;
    background-color: rgba(0,0,0,0.4);
}



body.faq .services-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 120px 0 60px;
    font-weight: 800;
    font-family: Din;
    letter-spacing: 10px;
}

body.faq .services-description {
    font-size: 24px;
    text-align: center;
    padding: 100px 0;
    width: 85%;
    margin: 0 auto;
    line-height: 30px;
}

body.faq #second-row-wrapper {
    background: #fff;
    color: #000;
    padding: 10px 120px;
    line-height: 1.5em;
}

body.faq #second-row-wrapper img {
    max-width: 100%;
    height: auto !important;
}

body.faq blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

body.faq a {
    color: #CD0033;
}

#mobile-menu-block {
    width: 400px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    z-index: 1;
    -moz-box-shadow:    -5px 5px 25px 4px #777;
    -webkit-box-shadow: -5px 5px 25px 4px #777;
    box-shadow:         -5px 5px 25px 4px #777;
}

#mobile-menu-block ol#menu li a,
#mobile-menu-block ol#menu li a:hover,
#mobile-menu-block ol#menu li a:visited {
    color: #000;
    width: 140px;
    display: inline-block;
    z-index: 100;
    position: relative;
}

#mobile-menu-block.invisible {
    display: none;
}

#mobile-menu-block ol {
    display: block;
    padding: 0 40px;
    width: 320px;
}

#mobile-menu-block ol li {
    text-align: left;
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
}

#mobile-menu-block ol li:last-child {
    border: none;
}

#mobile-menu-block #mobile-menu-close-wrapper {
    overflow: hidden;
}

#mobile-menu-block #mobile-menu-close {
    width: 64px;
    height: 40px;
    background-image: url(../images/mobile-menu-close.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    overflow: hidden;
    float: right;
    cursor: pointer;
}

#scrolltop {
    background-image: url(../images/scrolltop.png);
    background-size: 70px 70px;
    bottom: 20px;
    cursor: pointer;
    height: 70px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 70px;
    z-index: 1;
    opacity: 0.3;
}

#scrolltop:hover {
    opacity: 1;
}

#user-login {
    color: #000;
}

#user-login form {
    margin: 50px auto;
    width: 300px;
}

#user-login .form-item {
    padding-left: 50px;
    font-size:20px;
    margin: 10px 0;
}

#user-login .form-item label {
    display: block;
}

#user-login .form-item input {
    font-size:20px;
    width: 200px;
}

#user-login .form-item .description {
    display: none;
}

#user-login .form-actions {
    width: 23vw;
    height: 56px;
    box-shadow: 0 34px 30px 0px rgba(0,0,0,0.17);
    background: #CD0033;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

#user-login .form-actions input {
    background: 0;
    font-size: 20px;
    line-height: 56px;
    border: none;
    color: #fff;
}

.webform-component--gdpr > label {
    display: none;
}

.webform-component--gdpr a {
    text-decoration: none;
    text-transform: none;
    color: #CD0033;
    padding-left: 65px;
}

#admin-navigation-bar {
    background-color: #000;
}

#admin-navigation-bar ul li {
    list-style-type: none;
    background: #000;
    padding: 4px 2px;
}

#admin-navigation-bar ul li a {
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
}

#admin-navigation-bar ul li a:hover {
    color: #000;
    background-color: #fff;
}

/* test */

body.front #index-third-half-row,
body.front #index-third-half-second-row,
body.front #index-third-half-pre-row {
    height: 100vh !important;
}

body.front #index-third-half-row #spacer,
body.front #index-third-half-second-row #spacer,
body.front #index-third-half-pre-row #spacer {
    height: calc(100vh - 100px) !important;
    box-sizing: border-box;
}